<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:virtualization="http://schemas.microsoft.com/appx/manifest/virtualization/windows10"
         IgnorableNamespaces="uap rescap virtualization">

  <Identity Name="Carbonix.SITLLauncher"
            Publisher="CN=Carbonix"
            Version="1.0.0.0"
            ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>SITL Launcher</DisplayName>
    <PublisherDisplayName>Carbonix</PublisherDisplayName>
    <Description>ArduPilot Software In The Loop simulation launcher for pilot training and beta testing.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
    <!-- Exclude our data folder from MSIX virtualization so child processes (SITL) can access it -->
    <virtualization:FileSystemWriteVirtualization>
      <virtualization:ExcludedDirectories>
        <virtualization:ExcludedDirectory>$(KnownFolder:LocalAppData)\SITLLauncher\Versions</virtualization:ExcludedDirectory>
        <virtualization:ExcludedDirectory>$(KnownFolder:LocalAppData)\SITLLauncher\Runtime</virtualization:ExcludedDirectory>
      </virtualization:ExcludedDirectories>
    </virtualization:FileSystemWriteVirtualization>
  </Properties>

  <Dependencies>
    <!-- Flexible virtualization requires Windows 10 21H1 (build 19043) or later -->
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19043.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="SITLLauncher.Desktop.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="SITL Launcher"
                          Description="ArduPilot SITL simulation launcher"
                          BackgroundColor="transparent"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"
                         Square310x310Logo="Assets\Square310x310Logo.png"
                         Square71x71Logo="Assets\Square71x71Logo.png"
                         ShortName="SITL Launcher" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>

</Package>
